
#main_form
  %form(action="/" method="post" enctype="multipart/form-data")
    %fieldset

      .field#jobname
        %label Job Name (optional)
        %input{ :name => "jobname", :size => "20"}
         
      .field#data
        %label 
          Input your data 
          %span#example 
          %a(href='examples/example.txt') [example.txt]
          %a#load_example(href='examples/example.txt') load
          \...
        .text_or_file
          %textarea{ :name => "mutations"}
          .file
            %label ... or submit a file 
            %input{ :name => "file", :accept => "text/plain", :type => "file" }
  
      .field.submit
        %input#submit(type="submit" name="Submit" value="Run KinMut")

#description
  %p
    KinMut is a method for the prediction of the impact of mutations in the function of human Protein Kinases.

  %p 
    KinMut associates several sequence-derived features to kinase mutations,
    including: 
    %ul
      %li at the gene level, the membership to a Kinase group and Gene Ontology terms. 
      %li at the domain level, the occurrence of the mutation inside a PFAM domain, and 
      %li at the residue level, several properties including amino acid type, functional annotations from Swissprot and FireDB, specificity-determining positions, etc. 
      
    These features are evaluated with a SVM; the resulting score determines the pathogenicity of the mutations.

:javascript
    $('a#load_example').click(function(){
      $.ajax({
        url: "examples/example.txt",
        context: document.body,
        success: function(data){
          $('textarea').val(data);
        }
      });
      return false;
    })
