%hr
- if pdbs.any?
  %select.pdb
    %option(selected="selected") Select a pdb
    - pdbs.each do |pdb, chain, pdb_position| 
      %option.pdb(attr-chain=chain attr-position=pdb_position attr-pdb=pdb)= "#{ pdb } (#{ pdb_position }:#{ chain })"

  :javascript

    $('select.pdb').change(function(){
      var option = $(this).find("option:selected");
      var pdb = option.attr('attr-pdb');
      if (pdb == "Select a pdb") return false
      var pdb_position = option.attr('attr-position');
      var pdb_chain = option.attr('attr-chain');
      jmolScript("load '/pdb/" + pdb + ".pdb' ; wireframe off; restrict water; select protein; backbone off; color pink;cartoons on;color structure; select protein and *.CA and " + pdb_position + ":" + pdb_chain + "; spacefill; color blue;", "PIZARRA");
    })


