%h3 There where no predictions made

- filtered = @job.info[:filtered_out]

- if filtered and filtered.any?
  %p The following proteins are not kinases
  %ul
    - filtered.each do |protein|
      %li= protein
