
%h3 References

%ul
  %li 
    Izarzugaza JMG, Krallinger M, Valencia A. 2012. 
    %em Interpretation of the consequences of mutations in protein kinases: combined use of bioinformatics and text mining. 
    Frontiers in physiology 3: 323.
    %a(href="http://www.ncbi.nlm.nih.gov/pubmed/?term=23055974") PubMed: 23055974

  %li 
    Izarzugaza JMG, Vazquez M, del Pozo A, Valencia A. 2013. 
    %em wKinMut: an integrated tool for the analysis and interpretation of mutations in human protein kinases. 
    BMC bioinformatics 14: 345.
    %a(href="http://www.ncbi.nlm.nih.gov/pubmed/?term=24289158") PubMed: 24289158

  %li 
    Vazquez M, Pons T, Brunak S, Valencia A, Izarzugaza JMG. 2015. 
    %em wKinMut-2: Identification and interpretation of pathogenic variants in human protein kinases.
    Submitted 

