
%h3 Resources

%ul
  %li 
    dbNSFP:
    %a(href="https://sites.google.com/site/jpopgen/dbNSFP") https://sites.google.com/site/jpopgen/dbNSFP
  %li 
    PhosphoELM:
    %a(href="http://phospho.elm.eu.org/") http://phospho.elm.eu.org/
  %li 
    FireDB:
    %a(href="http://firedb.bioinfo.cnio.es/") http://firedb.bioinfo.cnio.es/
  %li 
    iHOP:
    %a(href="http://www.ihop-net.org/UniPub/iHOP/") http://www.ihop-net.org/UniPub/iHOP/
  %li 
    STRING:
    %a(href="http://string-db.org/") http://string-db.org/
  %li 
    Structure-PPi: 
    %a(href="http://structureppi.bioinfo.cnio.es/Structure") http://structureppi.bioinfo.cnio.es/Structure
  %li 
    Kin-Driver:
    %a(href=" http://kin-driver.leloir.org.ar/")  http://kin-driver.leloir.org.ar/
  %li 
    KinMutBase:
    %a(href="http://structure.bmc.lu.se/idbase/KinMutBase/") http://structure.bmc.lu.se/idbase/KinMutBase/
  %li 
    COSMIC:
    %a(href="http://cancer.sanger.ac.uk/cosmic") http://cancer.sanger.ac.uk/cosmic
  %li 
    ClinVar:
    %a(href="http://www.ncbi.nlm.nih.gov/clinvar/") http://www.ncbi.nlm.nih.gov/clinvar/
