
:sass

  #main
    &:after
      content: " "
      display: block
      clear: both
    img
      float: left
      width: 50%
      margin-right: 3em
      margin-top: 2em
    section.documentation
      margin-top: 6em
    .bold
      font-weight: bold

.ui.segment#main
  .header
    .ui.three.item.menu#main_menu
      %a.bold.item(href='/input') 
        Submit variants for analysis
      %a.item(href='/KinMut2/predict_all/Example_1a3d90709a31aeb62169f18e6af143f5?_format=html') Example
      %a.item(href='/tutorial') Tutorial
      %a.item(href='/resources') Resources
      %a.item(href='/references') References

  %img(src='/images/KinMut2-main.jpg')
  
  :documentation
  
    wKinMut-2 is an integrated framework for the analysis and interpretation of the consequences of variants in the human kinome.

    It displays information from diverse sources, that include:

    *  Protein/Gene general information, Gene Ontology terms, estimations of gene essentiality in orthologues and known drug targets.
    *  Structural information from PDB and Structure-PPI.
    *   Characterization at the domain and residue levels. Functional annotations and information about plausible catalytic and phosphorylation sites.
    *  Predictions of variant  pathogenicity with 9 different methods, including our own kinase-specific Random Forest.
    *  Information from dedicated variant databases (Uniprot Variant Pages, COSMIC, KinMutBase, Kin-Driver)
    *  Variants mentions from the literature (SNP2L)
    *  Protein Protein Interactions extracted from the literature (iHOP) and String.


