- @reload_page = true

.wait
  %h3 Waiting for result

  %p 
    
    Depending on how busy the wKinMut-2 server is you may not immediately see
    your results. This page will be automatically updated. If not, press the
    "RELOAD" button. Please be patient

  %span.status= job.status

